<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Set the title of the page -->
    <title>Information Page</title>
    <!-- Link to the external stylesheet for styling -->
    <link rel="stylesheet" href="../static/MyStyle.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="home_page.html">Welcome Page</a>
        <a href="about_page.html">Information Page</a>
        <a href="questionnaire.html">Data Collection Page</a>
    </nav>

    <!-- Main Content Container -->
    <div id="container">
        <!-- Heading explaining the purpose of collecting student progress data -->
        <h1 id="center1">
            Why we collect student progress data
        </h1>
        <!-- Paragraph with details on data collection and its benefits -->
        <p class="size_of_font1">
            <i>We collect data on your progress to record your learning process, analyze your learning output at each stage, and provide you with corresponding feedback based on the analysis results. At the same time, this can also be used as evidence for your further study.</i>
        </p>

        <!-- Subheading for the benefits and aim of data collection -->
        <h1 id="center2">
            Benefits and Aim
        </h1>
        <!-- Paragraphs explaining how the data is used for analysis and providing feedback -->
        <p class="size_of_font1">
            <i>We use your data for analysis and provide you with feedback during the learning phase, which is of great help to you...</i>
        </p>
        <!-- Additional paragraphs providing information on the learning experience and summarizing the purpose of data collection -->
        <p class="size_of_font1">
            <i>In terms of your learning experience, we use information technology to save your learning progress data...</i>
        </P>
        <p class="size_of_font1">
            <i>In summary, we collect data on your academic progress in order to improve your academic and overall learning experience, which we believe will bring you satisfactory results.</i>
        </p>
    </div>

    <!-- Additional Information and Start Button -->
    <br>
    <p class="size_of_font2">I have known the information about it, I agree my data to be collected</p>
    <a href="questionnaire.html" class="size_of_font2">press here to start</a>
</body>
</html>
