<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>students' progress at GIC</title>
    <link rel="stylesheet" href="../static/MyStyle.css">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <a href="home_page.html">Home Page</a>
        <a href="about_page.html">About Page</a>
        <a href="questionnaire.html">Questionnaire Page</a>
    </nav>

    <!-- Main Content Container -->
    <div class="container1">
        <h1>Welcome to GIC students' progress</h1>
        <ul>
            <!-- List of key points about the website -->
            <li>We value each student's experience at GIC and are very willing to record each student's progress.</li>
            <li>This website is designed to provide a platform for recording the progress of students.</li>
            <li>To this end, we will collect data. If you have any questions about data collection, you can click on the Information Page in the navigation bar below to learn more.</li>
            <li>If not, you could click the Data Collection Page in the navigation bar below to start!</li>
        </ul>
    </div>
</body>
</html>
